@import url('variables.css');

header {
    width: 1280px;
    margin: 0 auto;
    height: 130px;
    background-color: var(--grey);
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 40px;
    position: relative;
}

/* Логотип */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 85px;
    height: 90px;
    margin-right: 12px;
}

.logo h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: var(--white);
}

.bold {
    text-shadow: 2px 0 var(--white);
    letter-spacing: 2px;
    font-weight: bold;
}

.light {
    font-weight: 300;
}

/* Блок AREA RISERVATA */
#lock {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 40px;
    padding-top: 4px;
}

#lock span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: var(--white);
    margin-top: 2px;
    margin-right: 10px;
}

#lock img {
    width: 15px;
    height: 17px;
}

/* Меню */
.menu {
    position: absolute;
    bottom: 0;
    right: 40px;
    padding-bottom: 16px;
}

.topmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.topmenu li {
    position: relative;
    margin-left: 20px;
}

.topmenu a {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s;
}

.topmenu a:hover {
    color: var(--yellow);

}

/* Подменю */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    background-color: var(--grey);
    padding: 18px 8px 12px 8px;
    z-index: 10;
}

.submenu li {
    list-style: none;
    padding: 0 7px;
    margin: 0;
    position: relative;
}

.topmenu li:hover .submenu {
    display: block;
}

.submenu a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    display: block;
    padding: 4px 0;
    text-align: left;
}

/* Линии между элементами подменю */
.submenu li:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: 0;
}