header {
    width: 1280px;
    height: 130px;
    margin: auto;
    background-color: var(--grey);
}

#navigation {
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

/* Логотип */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 85px;
    height: 90px;
    margin-right: 12px;
}

.logo h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: var(--white);
}

.bold {
    text-shadow: 2px 0 var(--white);
    letter-spacing: 2px;
    font-weight: bold;
}

.light {
    font-weight: 300;
}

/* Блок AREA RISERVATA */
#lock {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 40px;
    padding-top: 4px;
}

#lock span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: var(--white);
    margin-top: 2px;
    margin-right: 10px;
}

#lock img {
    width: 15px;
    height: 17px;
}

/* Меню */
.menu {
    position: absolute;
    bottom: 0;
    right: 40px;
    padding-bottom: 16px;
}

.topmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.topmenu li {
    position: relative;
    margin-left: 20px;
}

.topmenu a {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s;
}

.topmenu a:hover {
    color: var(--yellow);

}

/* Подменю */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    background-color: var(--grey);
    padding: 18px 8px 12px 8px;
    z-index: 10;
}

.submenu li {
    list-style: none;
    padding: 0 7px;
    margin: 0;
    position: relative;
}

.topmenu li:hover .submenu {
    display: block;
}

.submenu a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    display: block;
    padding: 4px 0;
    text-align: left;
}

/* Линии между элементами подменю */
.submenu li:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Основной контент */

@keyframes slide {
    0% {
        background-image: url('../img/bg1.jpg');
    }

    50% {
        background-image: url('../img/bg1.jpg');
    }

    51% {
        background-image: url('../img/bg2.jpg');
        /* Исправлено на bg2.jpg */
    }

    100% {
        background-image: url('../img/bg2.jpg');
    }
}

#main {
    position: relative;
    height: 670px;
    width: 1280px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 0 auto;
    animation: slide 30s infinite;
}

/* Окно с текстом в правом углу */

#main_info {
    background-color: var(--ghost);
    width: 482px;
    padding: 15px 29px;
    position: relative;
    margin-left: auto;
}

#main_info h2 {
    color: var(--black);
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-style: italic;
    margin: 0;
}

#main_info h3 {
    font-weight: 300;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 15px 0 0 0;
}

/* Открывающееся меню */

.toggle-button {
    background-color: white;
    width: 88px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    z-index: 10;
}

#sub_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    position: absolute;
    bottom: -174px;
    margin: 0 3%;
    transition: transform 0.5s ease;
}

.sub_block {
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sub_block h2 {
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin: 0;
}

.sub_block h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    flex: 1;
    display: flex;
    align-items: end;
}

.sub_block h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 8px 0 0 0;
    text-align: end;
}

.yellow {
    background-color: var(--yellow);
    color: var(--black);
}

.yellow h3 {
    color: var(--white);
    text-decoration: underline;
}

.white {
    background-color: var(--white);
    color: var(--black);
}

.black {
    background-color: var(--black);
    color: var(--white);
}

/* Футер */

footer {
    width: 1280px;
    height: auto;
    background-color: var(--grey);
    padding: 36px 0 0 0;
    box-sizing: border-box;
    margin: 0 auto;
    color: white;
    position: relative;
    z-index: 1;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Верхние объекты */

#topline {
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#footer_info {
    display: flex;
    justify-content: space-between;
}

#footer_info div {
    flex: 1;
}

#first_block {
    margin: 0 28px;
}

#second_block {
    margin: 0 28px;
}

#third_block {
    margin: 0 28px;
}


#footer_info h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin: 0 0 21px;
}

#footer_info h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: var(--veryghost);
    margin: 0;
}

#feedback {
    margin: 0 28px;
    display: flex;
    flex-direction: column;
}

#feedback h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 15px;
    color: var(--white);
    margin-bottom: 21px;

}

#feedback input[type="text"] {
    width: 175px;
    height: 32px;
    padding: 0 5px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    font-size: 14px;
    margin-bottom: 12px;
}

#checkbox {
    margin: 0;
}

#checkbox input[type="checkbox"] {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

#checkbox label {
    font-family: 'Open Sans', sans-serif;
    color: var(--veryghost);
    font-weight: 300;
    font-size: 10px;
    margin: 0;
}

#feedback button {
    width: 185px;
    height: 32px;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

/* Стили для состояния нажатия кнопки */
#feedback button:active {
    background-color: var(--white);
    color: var(--black);
}

/* Нижние объекты */

#endline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

#author_info {
    display: flex;
    left: 0;
}

#author_info ul {
    list-style-type: none;
    padding: 0;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    display: flex;
}

#author_info li {
    margin-right: 15px;
}

#lang {
    display: flex;
    margin-left: auto;
}

#lang ul {
    list-style-type: none;
    padding: 0;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    display: flex;
}

#lang li {
    margin-left: 21px;
}