:root {
  --grey: #353537;
  /* Серый */
  --white: #FFFFFF;
  /* Белый */
  --ghost: #FFFFFFCC;
  /* Белый полупрозрачный */
  --veryghost: #FFFFFF99;
  /* Белый сильно прозрачный */
  --yellow: #E2D1A6;
  /* Желтый */
  --black: #010101;
  /* Черный */
  --green: #9de0b4;
  /* Зелёный */
}